body {
  background-image: url("images/pink-psychadelic-background.jpg");
  background-color:rebeccapurple;
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 981px;
  height: 180px;
 }

h1 {
    color: rebeccapurple;
    font-size: 40px;
    font-family: sans-serif;  
  
  }
.purple-text {
  color: purple;
}

.background-colour {
  colour: purple;
}
